.tabs-custom {
  background: #000;
  // background: #181c31;
  overflow-x: auto;
  overflow-y: hidden;
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px dashed gray;

  a {
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
    padding: 0px 8px;
    text-decoration: none;
    color: #a6a6a6;
    user-select: none;
    position: relative;
    background-color: #27371c;
    // background-color: #2d0525;
    font-size: 14px;
    // text-transform: capitalize;

    mat-icon {
      margin-right: 6px;
      color: #34eaff;
      // font-size: 16px;
      // width: 16px;
      // height: 16px;
    }

    &:hover {
      background-color: #0c343e;
      color: white;
    }

    &:visited,
    &:active,
    &.active {
      background-color: #196a80;
      color: white;
    }
  }
}

.tabs-scroll-container {
  display: flex;
  overflow-x: auto;
}

.tabs-custom-first-special {
  background: black !important;

  mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    transition: all .4s ease;
    margin-right: 0 !important;
    color: #9babff !important;
  }

  // &:hover mat-icon {
  //   transform: scale(2);
  // }
}

.tab-custom-content {
  overflow-y: auto;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}
