<ng-container *ngIf="userService.user as user">

  <ul>
    <li>username: {{user.username}}</li>
    <li>broker: {{user.broker}}</li>
  </ul>

  <div class="block">
    <h2>System</h2>
    <hr>

    <ul>
      <li style="margin-bottom: 20px;">Mode : <span  class="text-{{userService.user.production ? 'success' : 'error'}}">{{userService.user?.production ? 'LIVE' : 'OFFLINE'}}</span></li>
      <li><button mat-raised-button color="primary" (click)="toggleProductionMode(true)" *ngIf="!userService.user?.production">Run as production</button></li>
      <li><button mat-raised-button color="warn" (click)="toggleProductionMode(false)"  *ngIf="userService.user?.production === true">Stop</button></li>
    </ul>
  </div>


  <div class="block">
    <h2>Profile</h2>
    <hr>

    <ul>
      <li><button mat-raised-button color="primary" (click)="resetLocalProfile()">Reset local profile</button></li>
    </ul>
  </div>

</ng-container>
