<nav class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <img src="/assets/img/chart.jpg" />
    </div>
  </div>
</nav>
<main>
  <mat-tab-group mat-stretch-tabs>
    <!-- Symbols -->
    <mat-tab label="Symbols">
      <ng-template mat-tab-label>
        <mat-icon fontIcon="bolt"></mat-icon>
        <span class="title">Symbols</span>
      </ng-template>
      <ng-template matTabContent>
        <trade-tab-symbols></trade-tab-symbols>
      </ng-template>
    </mat-tab>

    <!-- Calendar -->
    <mat-tab label="Calendar">
      <ng-template mat-tab-label>
        <mat-icon fontIcon="apps"></mat-icon>
        <span class="title">Calendar</span>
      </ng-template>
      <ng-template matTabContent>
        <trade-tab-calendar></trade-tab-calendar>
      </ng-template>
    </mat-tab>

    <!-- Settings -->
    <mat-tab label="Settings">
      <ng-template mat-tab-label>
        <mat-icon fontIcon="settings"></mat-icon>
        <span class="title">Settings</span>
      </ng-template>
      <ng-template matTabContent>
        <trade-tab-settings></trade-tab-settings>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <!-- <div class="container-fluid tabs-wrapper g-0">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link active" aria-current="page" href="#">Hot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
    </ul>
  </div> -->
</main>
