@import "../style/global/global";
// @import "bootstrap/scss/bootstrap";
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
// @import "bootstrap/scss/dropdown";
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/list-group';
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/utilities/api";

:host {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

nav img {
  max-height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.th-symbol {
  width: 100%;
}

.th-insight {
  width: 40px;
  min-width: 40px;
  font-weight: bold;
  border-right: 1px solid gray;
}

.th-agenda {
  width: 130px;
  max-width: 130px;
  min-width: 130px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  min-height: 500px;
}

.scroll-container {
  // height: 100%;
  overflow: auto;
  min-height: 500px;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.nav-item {
  background: #402f5cdb;
  color: white !important;
}

.nav-link {
  &.active {
    background: #3f2f5c !important;
    // border-color: #3f2f5c !important;
    color: white !important;
  }
}

.tabs-wrapper {
  position: absolute;
  top: 90px;

  a {
    color: white;
  }
}

.search-input {
  background-color: #e8e8ff;
  border-radius: 0;
}

.score-0 {
  color: white !important;
}

.score-1 {
  color: orange !important;
}

.score-2 {
  color: green !important;
}

.score-3 {
  color: lightgreen !important;
}

.score-4 {
  color: rgb(72, 255, 72) !important;
}

.form-check {
  label {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding-left: 4px;
  }

  input {
    height: 20px;
    width: 20px;
    background-color: #6ac7c8 !important;
  }
}
