@use '@angular/material' as mat;

// @import "@angular/material/core/theming/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}    


// /*
// * external deps
// */
// // @import "@fortawesome/fontawesome-free/scss/solid";
// @import 'bootstrap/scss/bootstrap';
// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/variables-dark';
// @import 'bootstrap/scss/maps';
// @import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/utilities';
// @import 'bootstrap/scss/utilities/api';
// @import 'bootstrap/scss/root';
// @import 'bootstrap/scss/reboot';
// @import 'bootstrap/scss/containers';
// @import 'bootstrap/scss/grid';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/tables';

// /*
//   * global
//   */
// @import './global/global';

// // /*
// //   * partials
// //   */
// // @import './partials/header';
// // @import './partials/footer';

// // /*
// //   * pages
// //   */
// // @import './pages/home.page.scss';
// // @import './extension.scss';

// // body > main {
// //   margin-top: 60px;
// // }

// #TRADE_BANNER {
//   background: red;
//   height: 20px;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 9999999999;
// }
