:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: black;
}

.overlay {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

main {
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    // display: none;
  }
}

button {
  background: transparent;
  border: none;
}

nav {

  a {
    border-right: 1px solid black;  
  }

  mat-icon {
    margin-right: 10px;
  }
  
  .active {
    background-color: black;
  }
}

.pwaBanner {
  background-color: transparent;
  position: relative;
  height: 50px;
}


// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding:0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
      padding-top: 4rem;
  }
}