:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: black;
}

.overlay {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

main {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  background: transparent;
  border: none;
}
