.form-select-custom {
  width: 100px;
  color: black;
  padding: 7px;
  border-radius: 0;

  option {
    color: black;
    border-radius: 0;
  }
}

.form-input-custom {
  width: 100%;
  color: black;
  padding: 6px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background: inherit !important;
}

.field-label-ellipsis mat-label {
  white-space: nowrap;
}
