// @import "bootstrap/scss/bootstrap";
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
// @import "bootstrap/scss/dropdown";
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/list-group';
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/utilities/api";

:host {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 16px;
  z-index: 88888;
  background: #000000;
  height: auto;
  display: flex;
  width: 100%;
}

#TRADE_BANNER_NEWS {
  white-space: nowrap;
}

#TRADE_BANNER_CLOSE_BTN {
  padding: 0 10px;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
  border: 0;
}

#latest-news {
  a {
    padding: 0 6px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &::before {
      content: '*';
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
}

@keyframes marquee {
  0% {
    left: 0;
    // transform: translate3d(0, 0, 0);
  }
  100% {
    left: -100%;
  }
}
