<h1 mat-dialog-title>Login</h1>
<hr>
<div mat-dialog-content>

  <form [formGroup]="form" class="row" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" autocomplete="false">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" autocomplete="off">
    </mat-form-field>
  </form>

  <mat-error *ngIf="error$ | async as error">{{error}}</mat-error>
</div>

<div class="footer" mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button (click)="onClickRegistrate()">Registrate</button>
  <button mat-raised-button (click)="onClickLogin()" color="primary" cdkFocusInitial>Login</button>
</div>
